<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newgrounds Song Downloader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    {% if status_message %}
    <div class="alert alert-info" role="alert">
        {{ status_message }}
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form action="/download" method="post">
                <div class="form-group">
                    <label for="song_id">Enter Song ID:</label>
                    <input type="text" class="form-control" id="song_id" name="song_id" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Download Song</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-4">
            <form action="/shutdown" method="post">
                <button type="submit" class="btn btn-danger btn-block">Stop the Downloader</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
